.nav {
  position: relative;
  padding-left: 50px;
  padding-right: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  z-index: 60;
  background-color: #444546;
}

.nav p {
  font-weight: bold;
  color: white;
}

.nav p:hover {
  opacity: 0.7;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Rocketwildness", sans-serif;
}

.name p {
  font-size: 25px;
}

.text {
  color: white;
}

.fill-current {
  fill: currentColor;
  z-index: 100;
}

.textContainer {
  position: absolute;
  display: flex;
  z-index: 50;
}

.contact {
  position: absolute;
  top: 15px;
  right: 0px;
  width: 20vw;
  display: flex;
  flex-direction: row;
  flex-direction: end;
  justify-content: space-evenly;
  font-size: 25px;
}

.contact a:hover {
  opacity: 0.7;
}

/* #icon {
  opacity: 1;
} */
a {
  opacity: 1;
}
